<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.platform.snail.portal.dao.TemplateCmccMapper" >
  <resultMap id="BaseResultMap" type="org.platform.snail.portal.model.TemplateCmcc" >
    <id column="template_cmcc_id" property="templateCmccId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="BaseResultMapVo" type="org.platform.snail.portal.vo.TemplateCmccVo"  extends="BaseResultMap" >
    
  </resultMap>
  <sql id="Base_Column_List" >
    template_cmcc_id, name, content, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from template_cmcc
    where template_cmcc_id = #{templateCmccId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from template_cmcc
    where template_cmcc_id = #{templateCmccId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.platform.snail.portal.model.TemplateCmcc" >
    insert into template_cmcc (template_cmcc_id, name, content, 
      create_time)
    values (#{templateCmccId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.platform.snail.portal.model.TemplateCmcc" >
    insert into template_cmcc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateCmccId != null" >
        template_cmcc_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateCmccId != null" >
        #{templateCmccId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.platform.snail.portal.model.TemplateCmcc" >
    update template_cmcc
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where template_cmcc_id = #{templateCmccId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.platform.snail.portal.model.TemplateCmcc" >
    update template_cmcc
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where template_cmcc_id = #{templateCmccId,jdbcType=VARCHAR}
  </update>
  <sql id="whereCondition">
		from template_cmcc
		
		<if test="condition.name!=null and condition.name!=&quot;&quot;">
			and name like
			concat(#{condition.name,jdbcType=VARCHAR},'%')
		</if>
	</sql>
	<select id="findCount" resultType="int">
		SELECT COUNT(*)
		<include refid="whereCondition" />
	</select>
	<select id="findList" resultMap="BaseResultMapVo">

		select
		<include refid="Base_Column_List" />
		<include refid="whereCondition" />
		<choose>
			<when test="orderBy!=null and orderBy!=&quot;&quot;">
				ORDER BY ${orderBy}
			</when>
			<otherwise>
				ORDER BY create_time
			</otherwise>
		</choose>

		limit #{start,jdbcType=DECIMAL}, #{limit,jdbcType=DECIMAL}

	</select>
	
	<select id="isExitByName" resultType="int">
		select count(*)
		from
		template_cmcc where name=#{name}
	</select>
</mapper>