package org.platform.snail.edu.dao;

import java.util.List;

import org.apache.ibatis.annotations.Param;
import org.platform.snail.edu.model.$!{bean.name};
import org.platform.snail.edu.vo.$!{bean.name}QVo;
import org.platform.snail.edu.vo.$!{bean.name}Vo;

public interface $!{bean.name}Mapper {
    int deleteByPrimaryKey(String $!{bean.name}Id);

    int insert($!{bean.name} record);

    int insertSelective($!{bean.name} record);

    $!{bean.name} selectByPrimaryKey(String $!{bean.name}Id);

    int updateByPrimaryKeySelective($!{bean.name} record);

    int updateByPrimaryKey($!{bean.name} record);
    
    List<$!{bean.name}Vo> findList(@Param("condition") $!{bean.name}QVo condition,
			@Param("start") int start, @Param("limit") int limit,
			@Param("orderBy") String orderBy);

	int findCount(@Param("condition") $!{bean.name}QVo condition);

	int isExit($!{bean.name} record);
}