<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.platform.snail.edu.dao.RehireMapper" >
  <resultMap id="BaseResultMap" type="org.platform.snail.edu.model.Rehire" >
    <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
    <result column="rehire_time" property="rehireTime" jdbcType="TIMESTAMP" />
    <result column="reasion" property="reasion" jdbcType="VARCHAR" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="lo" property="lo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="BaseResultMap-Teacher" extends="BaseResultMap" type="org.platform.snail.edu.model.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="poaf" property="poaf" jdbcType="CHAR" />
    <result column="eb" property="eb" jdbcType="CHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="gi" property="gi" jdbcType="VARCHAR" />
    <result column="gt" property="gt" jdbcType="DATE" />
    <result column="ft_year" property="ftYear" jdbcType="INTEGER" />
    <result column="w_years" property="wYears" jdbcType="INTEGER" />
    <result column="entry_time" property="entryTime" jdbcType="VARCHAR" />
    <result column="tqc_category" property="tqcCategory" jdbcType="CHAR" />
    <result column="tqc_no" property="tqcNo" jdbcType="VARCHAR" />
    <result column="soattr" property="soattr" jdbcType="VARCHAR" />
    <result column="ppt" property="ppt" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="grade_id" property="gradeId" jdbcType="VARCHAR" />
    <result column="classes_taught" property="classesTaught" jdbcType="VARCHAR" />
    <result column="discipline_id" property="disciplineId" jdbcType="VARCHAR" />
    <result column="pe" property="pe" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="domicile" property="domicile" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap extends="BaseResultMap-Teacher" id="BaseResultMapVo"
		type="org.platform.snail.edu.vo.RehireVo">
  <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
	</resultMap>
  <sql id="Base_Column_List" >
    teacher_id, instance_id, rehire_time, reasion, leader, lo, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rehire
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rehire
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.platform.snail.edu.model.Rehire" >
    insert into rehire (teacher_id, instance_id, rehire_time, 
      reasion, leader, lo, 
      remark, create_time)
    values (#{teacherId,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{rehireTime,jdbcType=TIMESTAMP}, 
      #{reasion,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, #{lo,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP});
       update teacher
    set 
     
      stauts = '2'
    where teacher_id = #{teacherId,jdbcType=VARCHAR};
     update users
    set 
     
      stauts = '1'
    where user_id = #{teacherId,jdbcType=VARCHAR};
  </insert>
  <insert id="insertSelective" parameterType="org.platform.snail.edu.model.Rehire" >
    insert into rehire
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="rehireTime != null" >
        rehire_time,
      </if>
      <if test="reasion != null" >
        reasion,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="lo != null" >
        lo,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="rehireTime != null" >
        #{rehireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasion != null" >
        #{reasion,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="lo != null" >
        #{lo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.platform.snail.edu.model.Rehire" >
    update rehire
    <set >
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="rehireTime != null" >
        rehire_time = #{rehireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasion != null" >
        reasion = #{reasion,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="lo != null" >
        lo = #{lo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.platform.snail.edu.model.Rehire" >
    update rehire
    set instance_id = #{instanceId,jdbcType=VARCHAR},
      rehire_time = #{rehireTime,jdbcType=TIMESTAMP},
      reasion = #{reasion,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      lo = #{lo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </update>
  
  <sql id="whereCondition">

		from (select teacher.teacher_id, teacher.category, teacher.name, teacher.sex, teacher.id_card,teacher.entry_time,teacher.stauts,rehire.instance_id,
		rehire.rehire_time, rehire.reasion, rehire.lo, rehire.leader, rehire.create_time from teacher left join rehire on teacher.teacher_id=rehire.teacher_id		
) teacher where 0=0

 <if test="condition.stauts!=null and condition.stauts==1">

			and teacher.rehire_time is null and teacher.stauts='3'

		</if>
		<if test="condition.stauts!=null and condition.stauts==2">
and teacher.rehire_time is not null

		</if>
		<if test="condition.category!=null and condition.category!=&quot;&quot;">

			and
			teacher.category=#{condition.category,jdbcType=VARCHAR}

		</if>

		<if test="condition.name!=null and condition.name!=&quot;&quot;">
			and teacher.name like
			concat(#{condition.name,jdbcType=VARCHAR},'%')
		</if>
		<if test="condition.teacherId!=null and condition.teacherId!=&quot;&quot;">

			and
			teacher.teacher_id=#{condition.teacherId,jdbcType=VARCHAR}

		</if>
	</sql>

	<select id="findCount" resultType="int">

		SELECT COUNT(*)

		<include refid="whereCondition" />

	</select>

	<select id="findList" resultMap="BaseResultMapVo">
		select
		teacher.teacher_id, teacher.category, teacher.name, teacher.sex, teacher.id_card,teacher.entry_time,
		teacher.rehire_time, teacher.reasion, teacher.lo, teacher.leader, teacher.create_time audit_time,teacher.instance_id

		<include refid="whereCondition" />

		<choose>

			<when test="orderBy!=null and orderBy!=&quot;&quot;">

				ORDER BY ${orderBy}

			</when>

			<otherwise>

				ORDER BY teacher.teacher_id

			</otherwise>

		</choose>
		limit #{start,jdbcType=DECIMAL}, #{limit,jdbcType=DECIMAL}
	</select>
	<select id="isExitByTeacherId" resultType="int">
		select count(1) from rehire where teacher_id=#{teacherId}
	</select>
</mapper>