<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.platform.snail.edu.dao.TeamTrMapper" >
  <resultMap id="BaseResultMap" type="org.platform.snail.edu.model.TeamTr" >
    <id column="team_tr_id" property="teamTrId" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="discipline_id" property="disciplineId" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    team_tr_id, year, discipline_id, teacher_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team_tr
    where team_tr_id = #{teamTrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team_tr
    where team_tr_id = #{teamTrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.platform.snail.edu.model.TeamTr" >
    insert into team_tr (team_tr_id, year, discipline_id, 
      teacher_id, create_time)
    values (#{teamTrId,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{disciplineId,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.platform.snail.edu.model.TeamTr" >
    insert into team_tr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teamTrId != null" >
        team_tr_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="disciplineId != null" >
        discipline_id,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teamTrId != null" >
        #{teamTrId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="disciplineId != null" >
        #{disciplineId,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.platform.snail.edu.model.TeamTr" >
    update team_tr
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="disciplineId != null" >
        discipline_id = #{disciplineId,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where team_tr_id = #{teamTrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.platform.snail.edu.model.TeamTr" >
    update team_tr
    set year = #{year,jdbcType=VARCHAR},
      discipline_id = #{disciplineId,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where team_tr_id = #{teamTrId,jdbcType=INTEGER}
  </update>
   <insert id="saveOrUpdateTeamTr" parameterType="org.platform.snail.edu.model.TeamTr" >
		<selectKey keyProperty="c" resultType="java.lang.Long"
			order="BEFORE">
			select count(1) as c from team_tr where 
			 discipline_id = #{disciplineId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
		</selectKey>
		<if test="c==0">
			insert into team_tr (team_tr_id, year, 
      discipline_id, teacher_id, create_time
      )
    values (#{teamTrId,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR},
      #{disciplineId,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
		</if>
		<if test="c==1">
			update team_tr
    set 
      teacher_id = #{teacherId,jdbcType=VARCHAR}
     
    where discipline_id = #{disciplineId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
		</if>
		
		
	</insert>
	
	 <select id="selectTeamTrListByYear" resultType="map">
  SELECT 
    a.teacher_id,
    b.name,
    c.discipline_id,
    c.discipline_name
FROM
    team_tr a
        LEFT JOIN
    teacher b ON a.teacher_id = b.teacher_id
        LEFT JOIN
    discipline c ON a.discipline_id = c.discipline_id
    where a.year=#{year}
  </select>
</mapper>